body {
font-family: Verdana, sans-serif;
font-size: 11px;
line-height: 16px;
color: #000;
}

h1 { font-size: 16px; }
h2 { font-size: 15px; }
h3 { font-size: 14px; }
h4 { font-size: 13px; }

a, select { display: none; }

ul.tickets li.resolved { text-decoration: line-through; }

table.totals { float: left; display: inline; margin-right: 10%; border: 1px; }

/* clearfix */

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
 
.clearfix {
display: inline-block;
}
.clearfix {
display: block;
}